services:

  oterm.tools.rag:
    container_name: oterm.tools.rag
    build:
      dockerfile: docker/Dockerfile
    ports:
      - "8000:8000"
    env_file:
      - config/ollama.env
      - config/psql/postgres.env
      - secrets/psql.env
    volumes:
      - ./src:/app/src
      - ./tests:/app/tests
      - ./volumes/documents:/documents
    depends_on:
      - psql
      
  psql:
    container_name: oterm.tools.rag.psql
    image:  pgvector/pgvector:pg17
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "psql", "-h", "localhost", "-d", "oterm.rag"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    env_file:
      - config/psql/postgres.env
      - secrets/psql.env
    volumes:
      - type: bind
        source: ./config/psql
        target: /docker-entrypoint-initdb.d
      - ./volumes/pgsql:/var/lib/postgresql/data

networks:
  default:
      name: oterm.tools.rag
      